/*CSS stylesheet*/

header{
    width: 1200px;
    height: 100px;
    background-color: #dddddd;
    font-size: 12px;
    font-family: "Arial";
    color: #000000;
    padding-top: 60px;

}
body{
    width: 1200px;
    height: 1000px;
    font-size: 12px;
    font-family: Arial;
    background-color: black;
    text-align: left;

}
#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #dddddd;
}
.columnmid{
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
}
.columnleft{
    width: 20%;
    background-color: #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
    height: 900px;
}
.columnright{
    width: 20%;
    background-color: #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    font-family: Verdana;
    font-size: 14px;
}

a:hover{
    background-color: red;
}

a:active{
    background-color: purple;
}

a:visited{
    background-color: black;
}


nav {
    background-color: aliceblue;
    width: 20% px;
    padding-left: 20px;
    padding-right: 20px;
}




h1{
    color: #000000;
    text-align: center;
    margin: auto;
}



.post{
    font-family: Verdana;
    font-size: 18px;
    padding-right: 20px;
    padding-right: 20px;
}
div{
    font-family: Verdana;
    font-size: 20px;
}

.p_footer{
    font-family: Verdana;
    font-size: 40px;
}
p{
    font-family: Verdana;
    font-size: 14px;
}

footer{
    width: 1140px;
    height: 140px;
    background-color: #333334;
    font-family: Arial;
    font-size: 15px;
    color: #ffffff;
    float: bottom;
    left: 8px;
    padding-left: 60px;
    position: absolute;
}